/* Start Global Rules */

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    font-family: 'Almarai', sans-serif !important;
}

/* End Global Rules */

/*  Start Header  */

.binaa-text > a {
    color: white;
}

.bg-binaa{
    background-image: linear-gradient(270deg, var(--bs-blue), var(--bs-green));
}

header {
    height: 100vh !important;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(270deg, var(--bs-blue), var(--bs-green));
    z-index: 2;
    opacity: 0.9;
}


header nav .navbar-toggler {
    border: none;
}

header nav .navbar-toggler:focus {
    box-shadow: none;
}

header nav .logo {
    height: 60px;
}




header section.landing-page {
    height: calc(100vh - 70px);
    background-image: url("../imgs/landing-bg.jpg");
    background-position: center center;
    background-size: cover;
}

div.counter-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


div.counter-down span {
    width: 70px;
    height: 80px;
    border: 1px solid #fff;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}



div.counter-down span::before {
    width: 100%;
    content: attr(data-name);
    position: absolute;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    bottom: 15px;
    transition: 0.1s;

}




@media (max-width: 375px) {
    div.counter-down span {
        width: 50px;
        height: 70px;
        font-size: 20px;
    }

    div.counter-down span::before {
        font-size: 12px;
    }
}

/*  End Header  */


@media (max-width: 768px) {

.binaa-vid {
    height: 170px !important;
}
}

.binaa-vid {
    height: 350px;
}





/* owlcarousel*/
.home-demo .item {
    background: #ff3f4d;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

/* owlcarousel*/


/*  Start About  */

section.about  .card {
    min-height: 290px !important;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

section.about  .card:hover {
    border-color: var(--bs-green);
    box-shadow: 1px 1px 30px var(--bs-primary);
    transition: 1000ms;
}

/* End About */

.bord {
    border: var(--bs-secondary) solid 1px ;
    border-radius: .55rem;
    padding: 1.5rem;
}


/* Start table */

.table-section {
    display: grid;
    place-items: center;
    align-content: center;

}

.table{
    border-collapse: collapse !important;
    box-shadow: 0 5px 10px #e1e5ee !important;
    background-color:white;
    overflow: hidden;
    border: none transparent;
    border-radius: .25rem;
    padding: 0;
    margin: 0;
}

.table thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

th {
    padding: 1rem 1.25rem !important;
    font-size: 2rem;
}

td {
    padding: .75rem 1.75rem !important;
    border: none;
}

tr:nth-child(even) {
    background-color: #f4f6fb;
}

tr > td:nth-child(odd) {
    font-weight: 700 !important;
}

/* End table */

/* schedule */
.scheduleContainer {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 5rem repeat(4, 1fr);
    grid-template-rows: repeat(28, 1fr);
    grid-template-areas:
        "time800 stage stage stage stage"
        "time830 stage stage stage stage"
        "time900 stage stage stage stage"
        "time930 stage stage stage stage"
        "time1000 stage stage stage stage"
        "time1030 stage stage stage stage"
        "time1100 stage stage stage stage"
        "time1130 stage stage stage stage"
        "time1200 stage stage stage stage"
        "time1230 stage stage stage stage"
        "time1300 stage stage stage stage"
        "time1330 stage stage stage stage"
        "time1400 stage stage stage stage"
        "time1430 stage stage stage stage"
        "time1500 stage stage stage stage"
        "time1530 stage stage stage stage"
        "time1600 stage stage stage stage"
        "time1630 stage stage stage stage"
        "time1700 stage stage stage stage"
        "time1730 stage stage stage stage"
        "time1800 stage stage stage stage"
        "time1830 stage stage stage stage"
        "time1900 stage stage stage stage"
        "time1930 stage stage stage stage"
        "time2000 stage stage stage stage"
        "time2030 stage stage stage stage"
        "time2100 stage stage stage stage"
        "time2130 stage stage stage stage";
}

/**
 * Time
 */
.time {
    display: flex;
    align-items: center;
    border-top: thin dotted #ccc;
    height: 100%;
    text-align: right;
    padding: 0 !important;
    margin: 0 !important;
}

.time > .marker {
    height: 100%;
    width: 5px;
    margin: 0 0 0 .2rem;
}

.time.start-800 {
    grid-area: time800;
}
.time.start-830 {
    grid-area: time830;
}
.time.start-900 {
    grid-area: time900;
}
.time.start-930 {
    grid-area: time930;
}
.time.start-1000 {
    grid-area: time1000;
}
.time.start-1030 {
    grid-area: time1030;
}
.time.start-1100 {
    grid-area: time1100;
}
.time.start-1130 {
    grid-area: time1130;
}
.time.start-1200 {
    grid-area: time1200;
}
.time.start-1230 {
    grid-area: time1230;
}
.time.start-1300 {
    grid-area: time1300;
}
.time.start-1330 {
    grid-area: time1330;
}
.time.start-1400 {
    grid-area: time1400;
}
.time.start-1430 {
    grid-area: time1430;
}
.time.start-1500 {
    grid-area: time1500;
}
.time.start-1530 {
    grid-area: time1530;
}
.time.start-1600 {
    grid-area: time1600;
}
.time.start-1630 {
    grid-area: time1630;
}
.time.start-1700 {
    grid-area: time1700;
}
.time.start-1730 {
    grid-area: time1730;
}
.time.start-1800 {
    grid-area: time1800;
}
.time.start-1830 {
    grid-area: time1830;
}
.time.start-1900 {
    grid-area: time1900;
}
.time.start-1930 {
    grid-area: time1930;
}
.time.start-2000 {
    grid-area: time2000;
}
.time.start-2030 {
    grid-area: time2030;
}
.time.start-2100 {
    grid-area: time2100;
}
.time.start-2130 {
    grid-area: time2130;
}
.time[class*="30"]:not(.start-1300) {
    font-size: 0.8rem;
    color: #ccc;
}

/**
 * Event
 */
.event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.4;
}
.event span {
    display: block;
    width: 100%;
    font-size: 0.8em;
    font-weight: normal;
}
.event.start-800 {
    grid-row-start: time800;
}
.event.start-830 {
    grid-row-start: time830;
}
.event.start-900 {
    grid-row-start: time900;
}
.event.start-930 {
    grid-row-start: time930;
}
.event.start-1000 {
    grid-row-start: time1000;
}
.event.start-1030 {
    grid-row-start: time1030;
}
.event.start-1100 {
    grid-row-start: time1100;
}
.event.start-1130 {
    grid-row-start: time1130;
}
.event.start-1200 {
    grid-row-start: time1200;
}
.event.start-1230 {
    grid-row-start: time1230;
}
.event.start-1300 {
    grid-row-start: time1300;
}
.event.start-1330 {
    grid-row-start: time1330;
}
.event.start-1400 {
    grid-row-start: time1400;
}
.event.start-1430 {
    grid-row-start: time1430;
}
.event.start-1500 {
    grid-row-start: time1500;
}
.event.start-1530 {
    grid-row-start: time1530;
}
.event.start-1600 {
    grid-row-start: time1600;
}
.event.start-1630 {
    grid-row-start: time1630;
}
.event.start-1700 {
    grid-row-start: time1700;
}
.event.start-1730 {
    grid-row-start: time1730;
}
.event.start-1800 {
    grid-row-start: time1800;
}
.event.start-1830 {
    grid-row-start: time1830;
}
.event.start-1900 {
    grid-row-start: time1900;
}
.event.start-1930 {
    grid-row-start: time1930;
}
.event.start-2000 {
    grid-row-start: time2000;
}
.event.start-2030 {
    grid-row-start: time2030;
}
.event.start-2100 {
    grid-row-start: time2100;
}
.event.start-2130 {
    grid-row-start: time2130;
}
.event.end-800 {
    grid-row-end: time800;
}
.event.end-830 {
    grid-row-end: time830;
}
.event.end-900 {
    grid-row-end: time900;
}
.event.end-930 {
    grid-row-end: time930;
}
.event.end-1000 {
    grid-row-end: time1000;
}
.event.end-1030 {
    grid-row-end: time1030;
}
.event.end-1100 {
    grid-row-end: time1100;
}
.event.end-1130 {
    grid-row-end: time1130;
}
.event.end-1200 {
    grid-row-end: time1200;
}
.event.end-1230 {
    grid-row-end: time1230;
}
.event.end-1300 {
    grid-row-end: time1300;
}
.event.end-1330 {
    grid-row-end: time1330;
}
.event.end-1400 {
    grid-row-end: time1400;
}
.event.end-1430 {
    grid-row-end: time1430;
}
.event.end-1500 {
    grid-row-end: time1500;
}
.event.end-1530 {
    grid-row-end: time1530;
}
.event.end-1600 {
    grid-row-end: time1600;
}
.event.end-1630 {
    grid-row-end: time1630;
}
.event.end-1700 {
    grid-row-end: time1700;
}
.event.end-1730 {
    grid-row-end: time1730;
}
.event.end-1800 {
    grid-row-end: time1800;
}
.event.end-1830 {
    grid-row-end: time1830;
}
.event.end-1900 {
    grid-row-end: time1900;
}
.event.end-1930 {
    grid-row-end: time1930;
}
.event.end-2000 {
    grid-row-end: time2000;
}
.event.end-2030 {
    grid-row-end: time2030;
}
.event.end-2100 {
    grid-row-end: time2100;
}
.event.end-2130 {
    grid-row-end: time2130;
}
.event.length-1 {
    grid-column-end: span 1;
}
.event.length-2 {
    grid-column-end: span 2;
}
.event.length-3 {
    grid-column-end: span 3;
}
.event.length-4 {
    grid-column-end: span 4;
}
.quran {background-color: #168287;}

.b-quran{border:1px solid #168287;}

.speaking {background-color: #03658C;}

.b-speaking {border:1px solid #03658C;}

.video {background-color: #48a0f7;}

.b-video {border:1px solid #48a0f7;}

.work {background-color: #45b488;}

.b-work {border:1px solid #45b488;}

.eating-prayers {background-color: #f1d87e;}

.b-eating-prayers {border:1px solid #f1d87e;}

.politics {background-color: #36838c;}

.b-politics {border:1px solid #36838c;}

.vote {background: crimson;}

.b-vote {border:1px solid crimson;}

/* End Footer */



/*timeline css*/
/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
    position: relative;
}

.main-timeline-2::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #26c6da;
    top: 0;
    bottom: 0;
    left: 50%;

}

.timeline-2 {
    padding: 0 25px 0 25px ;
    margin-bottom: 4rem;
    width: 50%;
    position: relative;
}


.timeline-2::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: -10px;
    top: 0;
    bottom: 0;
    background-color: #26c6da;
    border-radius: 50%;

}
.right-2 {
    right: 50%;
}
.right-2::after {
    right: -14px;

}

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline-2::after {
        left: 0;
    }

    .timeline-2 {
        width: 100%;
    }

    .right-2::after {
        right: 95.50%;
    }

    /* Make all right containers behave like the left ones */
    .right-2 {
        right: 0;
    }

}
